#root{
    text-align: center;
    display: grid;
    justify-content: space-between; 
    padding: 20px; 
    align-items: center;
    overflow-y: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    margin: auto;
}
#main{
    border: black solid 1px;
    margin: 20px;
    height: auto;
    width: auto;
    border-radius: 2%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 

}


img{
    height: 400px;
    width: 400px;
}